<% cache article do %>
  <div class="shadow-sm my-3 p-3 bg-white rounded">
    <h5>Table of contents</h5>
    <div class="row border-top px-3 pt-3">
      <%= raw article.body_toc %>
    </div>
  </div>
<% end %>
