<div id="admin_tags">
  <%= render 'admin/shared/flash_messages' %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Tags</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to 'New', new_admin_tag_path, class: 'btn btn-primary' %>  
    </div>
  </div>
  <div>
    <%= render 'admin/tags/tag_list', tags: @tags %>
  </div>
</div>
