<div id="admin_tags">
  <%= render 'admin/shared/flash_messages' %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Articles of tag (<%= @tag.name %>)</h3>
  </div>
  <div>
    <%= render 'admin/articles/article_list', articles: @articles %>
  </div>
</div>
