<div id="admin_tag_groups">
  <%= render 'admin/shared/flash_messages' %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Tags of tag group (<%= @tag_group.name %>)</h3>
  </div>
  <div>
    <%= render 'admin/tags/tag_list', tags: @tags %>
  </div>
</div>
